<div class="container-fluid p-5">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre común</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plant of plants">
        <th scope="row">{{plant.id}}</th>
        <td>{{plant.commonName}}</td>
        <td>{{plant.type}}</td>
        <td>{{plant.weather}}</td>
      </tr>
    </tbody>
  </table>
  <p>Total plantas de interior: {{countPlantByType('Interior')}}</p>
  <p>Total plantas de exterior: {{countPlantByType('Exterior')}}</p>
</div>
